:root {
  --font-size-0: 2.5rem;
  --font-size-1: 2rem;
  --font-size-2: 1.75rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.125rem;
  --font-size-6: 1rem;
  --font-size-7: 0.875rem;
  --font-size-8: 0.75rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-0: 3.75rem;
  --line-height-1: 3rem;
  --line-height-2: 2.625rem;
  --line-height-3: 2.45rem;
  --line-height-4: 1.875rem;
  --line-height-5: 1.75rem;
  --line-height-6: 1.5rem;
  --line-height-7: 1.25rem;
  --line-height-8: 1rem;
}
